elpa/
cursory-latest-state.eld
fontaine-latest-state.eld
projects
recentf
savehist
saveplace
auto-save-list/
eln-cache/
transient/
.org-id-locations
ielm-history.eld
multisession/
.cask/
org-clock-save.el
tramp
bookmarks
url/
elpaca/
tree-sitter/
.mc-lists.el
backups/
capture-templates/
snippets/
.aider*
